{% extends "admin/base_site.html" %}

{% block content %}
<h1>Trial Süresini Uzat</h1>
<p>Seçili {{ kullanicilar|length }} kullanıcı için işlem yapılacak:</p>
<ul>
    {% for k in kullanicilar %}
        <li>{{ k.email }}</li>
    {% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    {% for k in kullanicilar %}
        <input type="hidden" name="secili_id" value="{{ k.id }}">
    {% endfor %}

    <p>
        <label><input type="radio" name="secenek" value="bitir" style="color:red;"> ⛔ Trial'ı ANINDA bitir</label><br><br>
        <label><input type="radio" name="secenek" value="1" checked> Bugünden itibaren 1 gün</label><br>
        <label><input type="radio" name="secenek" value="5"> Bugünden itibaren 5 gün</label><br>
        <label><input type="radio" name="secenek" value="10"> Bugünden itibaren 10 gün</label><br>
        <label><input type="radio" name="secenek" value="ozel"> Belirli bir tarihe kadar:
            <input type="date" name="ozel_tarih">
        </label>
    </p>

    <input type="submit" value="Uygula" class="default">
    <a href="../" class="button" style="margin-left:10px;">İptal</a>
</form>
{% endblock %}